<!--Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!DOCTYPE HTML>
<html>
<head>
<title>12406车票查询登录</title>
<!-- Custom Theme files -->
<link href="__PUBLIC__/home/css/style.css" rel="stylesheet" type="text/css" media="all"/>
<!-- Custom Theme files -->
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" /> 
<meta name="keywords" content="Square login form web template, Sign up Web Templates, Flat Web Templates, Login signup Responsive web template, Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, Sony Ericsson, Motorola web design" />
<!--Google Fonts-->
<link href='//fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>
<!--Google Fonts-->
</head>
<body>
<!--header start here-->
<div class="login-form">
			<div class="top-login">
				<span><img src="__PUBLIC__/home/images/group.png" alt=""/></span>
			</div>
			<h1>12406</h1>
			<div class="login-top">
			<form action="{:U('Home/Login/login')}" method="post">
				<div class="login-ic">
					<i ></i>
					<input class="form-control" type="text" name="name" placeholder="用户名" >
					<div class="clear"> </div>
				</div>
				<div class="login-ic">
					<i class="icon"></i>
					<input class="form-control" type="password" name="password" placeholder="密码" >
					<div class="clear"> </div>
				</div>
				<div class="log-bwn">
					<input type="submit"  value="登录" >
				</div>
			</form>
			<a href="#" style="font-size: 20px;">忘记密码</a>　|　
        	<a href="register.html"  style="font-size: 20px;">注册新用户</a>
			</div>
			<p class="copy">© 2017 版权所有 西大计科  <a href="#">西大</a></p>
</div>		
<!--header start here-->
</body>
</html>