	<layout name="indexlayout" />
	
		<h1 class="page-header">站到站查询</h1>
		<form action="{:U('Ticket/station')}" method="post">
		    起始站：<input type="text" class="form-control" name="start" placeholder="不需要填写站，如北京" value="{:I('post.start')}">
			终点站：<input type="text" class="form-control" name="end" placeholder="不需要填写站，如天津" value="{:I('post.end')}">
			日期：<input type="text" class="form-control" name="date" placeholder="默认格式：2017-06-03,默认为明天" value="{:I('post.date')}">
			<input type="reset" style="float:right;margin:5px" class="btn btn-success" value="重置">
			<input type="submit" style="float:right;margin:5px" class="btn btn-success" value="查询">
		</form>
		共有{$station|count}条数据
		<table class='table table-striped table-bordered table-hover'>
			<tr>
				<th>车次</th>
				<th>起始站<br>终点站</th>
				<th>起始时间<br>终止时间</th>
			 	<th>历时</th>
			 	<th>商务座</th>
			 	<th>特等座</th>
			 	<th>一等座</th>
			 	<th>二等座</th>
			 	<th>高级<br>软卧</th>
			 	<th>软卧</th>
			 	<th>硬卧</th>
			 	<th>软座</th>
			 	<th>硬座</th>
			 	<th>无座</th>
			</tr>	
			<volist name="station" id="info">
               	<tr name="info1">
                    <td style="text-align: center">{$info['train_no']}</td>
                    <td style="text-align: center">
                   	{$info['start_station_type']}&nbsp<strong>{$info['start_station']}</strong>
                    <br />
                    {$info['end_station_type']}&nbsp<strong>{$info['end_station']}</strong>
                    </td>
                    <td style="text-align: center">                   
                    <strong>{$info['start_time']}</strong>
                    <br />
                    <strong>{$info['end_time']}</strong>
                    </td>
                    <td style="text-align: center">{$info['run_time']}</td>
                    <td style="text-align: center">{$info[0]['shangwu']}</td>
                    <td style="text-align: center">{$info[0]['tedeng']}</td>
                    <td style="text-align: center">{$info[0]['yideng']}</td>
                    <td style="text-align: center">{$info[0]['erdeng']}</td>
                    <td style="text-align: center">{$info[0]['gaojiruanwo']}</td>
                    <td style="text-align: center">{$info[0]['ruanwo']}</td>
                    <td style="text-align: center">{$info[0]['yingwo']}</td>
                    <td style="text-align: center">{$info[0]['ruanzuo']}</td>
                    <td style="text-align: center">{$info[0]['yingzuo']}</td>
                    <td style="text-align: center">{$info[0]['wuzuo']}</td>
                </tr>
                <tr name="info2" style="display: none">
                	<td></td>
                	<td></td>
                	<td></td>
                	<td></td>
                    <td style="text-align: center">{$info[0]['shangwu_p']}</td>
                    <td style="text-align: center">{$info[0]['tedeng_p']}</td>
                    <td style="text-align: center">{$info[0]['yideng_p']}</td>
                    <td style="text-align: center">{$info[0]['erdeng_p']}</td>
                    <td style="text-align: center">{$info[0]['gaojiruanwo_p']}</td>
                    <td style="text-align: center">{$info[0]['ruanwo_p']}</td>
                    <td style="text-align: center">{$info[0]['yingwo_p']}</td>
                    <td style="text-align: center">{$info[0]['ruanzuo_p']}</td>
                    <td style="text-align: center">{$info[0]['yingzuo_p']}</td>
                    <td style="text-align: center">{$info[0]['wuzuo_p']}</td>                	
                </tr>
            </volist>
        </table>
<script>
    var myInfo1 = document.getElementsByName('info1');
    var myInfo2 = document.getElementsByName('info2');
    for(var i=0;i<myInfo1.length;i++){
        myInfo1[i].i = i;
        myInfo2[i].i = i;
        myInfo1[this.i].onclick = function(){
            if (myInfo2[this.i].style.display == 'none') {
                for (var j = 0; j < myInfo2.length; j++) {
                    myInfo2[j].style.display = 'none';
                }
                myInfo2[this.i].style.display = 'table-row'
            }else{
                myInfo2[this.i].style.display = 'none'
            }
            

        }
    }


</script>
		