<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf8" />
    <title>后台管理</title>
    <!--                       CSS                       -->
    <!-- Reset Stylesheet -->
    <link rel="stylesheet" href="__PUBLIC__/Admin/Css/reset.css" type="text/css" media="screen" />
    <!-- Main Stylesheet -->
    <link rel="stylesheet" href="__PUBLIC__/Admin/Css/style1.css" type="text/css" media="screen" />
    <!-- Invalid Stylesheet. This makes stuff look pretty. Remove it if you want the CSS completely valid -->
    <link rel="stylesheet" href="__PUBLIC__/Admin/Css/invalid.css" type="text/css" media="screen" />
    <!--                       Javascripts                       -->
    <!-- jQuery -->
    <script type="text/javascript" src="__PUBLIC__/Admin/Js/jquery-1.3.2.min.js"></script>
    <!-- jQuery Configuration -->
    <script type="text/javascript" src="__PUBLIC__/Admin/Js/simpla.jquery.configuration.js"></script>
    <!-- Facebox jQuery Plugin -->
    <script type="text/javascript" src="__PUBLIC__/Admin/Js/facebox.js"></script>
    <!-- jQuery WYSIWYG Plugin -->
    <script type="text/javascript" src="__PUBLIC__/Admin/Js/jquery.wysiwyg.js"></script>
    <!-- jQuery Datepicker Plugin -->
    <script type="text/javascript" src="__PUBLIC__/Admin/Js/jquery.datePicker.js"></script>
    <script type="text/javascript" src="__PUBLIC__/Admin/Js/jquery.date.js"></script>
</head>
<body>
<div id="body-wrapper">
    <!-- Wrapper for the radial gradient background -->
    <div id="sidebar">
        <div id="sidebar-wrapper">
            <!-- Sidebar with logo and menu -->
            <h1 id="sidebar-title"><a href="">后台管理</a></h1>
            <!-- Logo (221px wide) -->
            <a href="#"><img id="logo" src="__PUBLIC__/Admin/images/logo.png" alt="Simpla Admin logo" /></a>
            <!-- Sidebar Profile links -->
            <div id="profile-links"> 欢迎, <b> <?=$_SESSION['admin']['userName']?> </b>登录！<br />
                <br />
                <a href="#" title="个人信息">个人信息</a>　|　<a href="__APP__/Admin/Login/logout" title="退出" target="_top">退出</a> </div>
            <ul id="main-nav">
                <!-- Accordion Menu -->
                <li> <a href="#" class="nav-top-item no-submenu">用户管理</a>
                    <ul>
                        <li><a href="__APP__/Admin/User/usersList" >浏览用户</a></li>
                        <li><a href="__APP__/Admin/User/addUser" target="right">增加用户</a></li>
                    </ul>
                </li>
                <li> <a href="#" class="nav-top-item"> 订单管理 </a>
                    <ul>
                        <li><a href="__APP__/Admin/Order/mkorder" target="right">生成订单</a></li>
                        <li><a href="__APP__/Admin/Order/oldOrder" target="right">历史订单</a></li>
                        <li><a href="__APP__/Admin/Order/nowOrder" target="right">处理中订单</a></li>
                    </ul>
                </li>
                <li> <a href="#" class="nav-top-item"> 消息管理 </a>
                    <ul>
                        <li><a href="__APP__/Admin/Message/newmessageList" target="right">未读消息列表</a></li>
                        <li><a href="__APP__/Admin/Message/messageList" target="right">所有用户列表</a></li>
                    </ul>
                </li>

                <!-- End #main-nav -->

        </div>
    </div>

</div>
<div id="main-content">
    {__CONTENT__}
    </div>
</body>
<!-- Download From www.exet.tk-->
</html>
