<div class="content-box-header">
    <h3>历史订单</h3>

    <div class="clear"></div>
</div>
<!-- End .content-box-header -->
<div class="content-box-content">
    <div class="tab-content default-tab" id="tab1">
        <!-- This is the target div. id must match the href of this div's tab -->
        <div class="notification attention png_bg">

            <form name="searchForm" action="__URL__/oldOrder" method="post">
                <select class="select space fl" name="userid" id="type">
                    <option value="">用户</option>
                    <foreach name = "user_data" item="vo">
                        <option value=<{$vo.id}> ><{$vo.username}></option>
                    </foreach>
                </select>
                区间　<input type="date" name="starttime" value="">　至　<input type="date" name="endtime" value="">
                <input type="submit" class="sendReq" value="筛选" />
            </form>

        </div>
        <table>
            <thead>
            <tr>

                <td>订单号</td>
                <td>用户</td>
                <td>列车</td>
            </tr>
            </thead>
            <tfoot>
            <tr>
                <td colspan="4">

                    <div class="pagination">  </div>
                    <!-- End .pagination -->
                    <div class="clear"></div>
                </td>
            </tr>
            </tfoot>

            <tbody>

            <!--遍历类别开始-->

            <foreach name="data" item="vo">
                <tr>
                    <td>{$vo.orderid}</td>
                    <td>{$vo.userid}</td>
                    <td>{$vo.trainname}</td>
                </tr>
            </foreach>
            <!--遍历类别结束-->

            </tbody>
        </table>
    </div>
</div>